//brand
$color-primary: #6CCE76;
$color-secondary: #FCB600;

$color-primary-light: #cbf5cf;
$color-primary-dark: #44824b;

$gray: #c3c3c3;
$gray-light: #FAFAFA; 
$gray-dark: #5E5E5E;
$gray-border: #ececec;
$white: #FFF;
$red: #ff6565;


$color-facebook: #3C86CC;
$color-instagram: #4A4A4A;
$color-mail: #EC9133;
$color-twitter: #5BC5ED;

$card-shadow: 0 2px 13px 0 rgba(204, 204, 204, 0.5);

